<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

</div>
<div layout:fragment="content">
<div class="table-container">
    <h2 class="modern-card-title" th:text="${'인터페이스 방식출력'}"></h2>
    <table class="modern-table">
        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>전화번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp:${list}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.tel}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징 처리 -->
    <div class="pagination-container">
        <ul class="modern-pagination">
            <li th:each="page, stat : ${#numbers.sequence(0, totalPage - 1)}"
                th:classappend="${nowpage == stat.index + 1} ? 'active'">
                <a th:href="@{/memberOut2(page=${stat.index})}"
                   th:text="${stat.index + 1}"></a>
            </li>
        </ul>
    </div>
</div>
</div>
</html>